@import "variables";
.article_beauty {
  background: rgba(67, 76, 204, 0.05);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.article_beauty .article_container {
  padding: 1rem;
}
.selected_image img {
  width: 100%;
}
.modal_list {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.modal_list_item {
  padding-right: 1rem;
}
.modal_list_item img {
  width: 137px;
  height: 85px;
}
@media(min-width:1114px) {
  .article_beauty {
    grid-area: article_beauty;
    padding: 0;
  }
  .modal {
    padding: 0;
  }
}