@import "variables";
.article_beauty {
  background-color: $second-bg;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.article_beauty .article_container {
  padding: $container-padding;
}
.modal {
  padding-bottom: 0.5rem;
}
.modal_inner button {
  position: absolute;
  height: 225px;
  background-color: transparent;
  border: none;
}
.next {
  right: 16px;
}
.selected_image {
  width: 100%;
  border-radius: 5px;
}
.gallery {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  overflow-x: scroll;
}

.gallery::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
.gallery {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; 
}
.gallery img {
  padding-right: 1rem;
  width: 125px;
  height: 80px;
  border-radius: 5px;
}
@media(min-width: $content-width) {
  .article_beauty {
    // grid-area: article_beauty;
    padding: 0;
  }
    .select_image {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
  }
  .selected_modal {
    grid-column: 1 / 9;
    grid-row: 1 / 9;
  }
  .gallery {
    overflow-x: hidden;
  }
  .modal_inner button {
    position: absolute;
    height: 680px;
    background-color: transparent;
    border: none;
  }
  .next {
    right: 120px;
  }
  
  
}