body {
    margin: 0;
}
h3 {
  font-family: $primary-font-family;
  font-style: $normal-style;
  font-weight: $normal-size;
  font-size: $second-heading;
  line-height: 64px;
  color: #000000;
}
h4 {
  font-family: $primary-font-family;
  font-style: $normal-style;
  font-weight: $normal-size;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}
ul > li {
  list-style: none;
}
a {
  text-decoration: none;
}
@media(min-width:1114px) {
  .container {
    max-width: 1114px;
    margin: 0 auto;
  }
}