body {
    margin: 0;
}
 * {
   margin: 0;
 }
h3,
h4 {
  font-family: $primary-font-family;
  font-style: $normal-style;
  font-weight: $normal-size;
}
h3 {
  font-size: $masthead-size;
  line-height: $masthead-height;
  color: $dark-color;
  padding-top: 61px;
}
h4 {
  font-size: $h4-size;
  line-height: $h4-height;
  color: $dark-color;
}
.info {
  font-family: $secondary-font-family;
  font-style: $normal-style;
  font-weight: $normal-size;
  font-size: $info-size;
  line-height: $info-height;
  color: $dark-color;
}
.description {
  font-family: $secondary-font-family;
  font-style: $normal-style;
  font-weight: $normal-size;
  font-size: $description-size;
  line-height: $description-height;
  color: $description-color;

}

ul > li {
  list-style: none;
}
a {
  text-decoration: none;
}
@media(min-width: $content-width) {
  .container {
    max-width: $content-width;
    margin: $margin;
  }
  h4 {
    font-size: $desktop-h4-size;
    line-height: $desktop-h4-height;
    margin: 0;
  }
}