body {
  background: rgba(67, 76, 204, 0.05);
  font-family: "DM Sans";
  overflow-x: hidden;
}
* {
  margin: 0;
  box-sizing: border-box;
}
h1, h2, h3, h5 {
  font-family: "DM Serif Display";
  font-weight: 400;
}
h1 {
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px
  
  }
img {
    width: 100%;
}
button:focus {
    border: none;
    outline: none;
}
body > header {
    background-color: #434CCC;
}
a {
  text-decoration: none;
}

@media (min-width: 1140px) {
  .page-container {
      max-width: 1140px;
      margin: 0 auto;
  }
  h1 {
    font-size: 40px;
    line-height: 48px;
}
  }