@import "variables";
.footer_container {
  padding: 1rem;
}
.title {
  font-family: $primary-font-family;
  font-style: $normal-style;
  font-weight: $normal-size;
  font-size: 24px;
  line-height: 32px;
  color: $description-color;
  text-transform: uppercase;
}
.subtitle {
  font-family: $secondary-font-family;
  font-style: $normal-style;
  font-weight: $normal-size;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}
footer .social_media ul {
  padding-inline-start: 0;
}
footer .social_media li:nth-of-type(1) {
  padding-inline-start: 0;
}
footer .homepage ul {
  padding: 0;
}
footer .homepage a {
  font-family: $secondary-font-family;
  font-style: $normal-style;
  font-weight: $normal-size;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}
.samples {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 25px;
  padding-block-start: 50px;
  padding-block-end: 50px;
}
.sample_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
}
.sample_list img {
  grid-column: 1 / 2;
}
.example {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 5;
  margin: 0;
}

.sample {
  font-family: $secondary-font-family;
  font-style: $normal-style;
  font-weight: $normal-size;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}
.set_date {
  font-family: $secondary-font-family;
  font-style: $normal-style;
  font-weight: $bold-size;
  font-size: 12px;
  line-height: 24px;
  color: $description-color;
}
.page_info {
  font-family: $secondary-font-family;
  font-style: $normal-style;
  font-weight: $normal-size;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
.print_date {
  font-family: $secondary-font-family;
  font-style: $normal-style;
  font-weight: $normal-size;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}
.print_date {
  text-transform: uppercase;
}