@import "variables";
.footer_container {
  padding: 1rem;
}
.title {
  font-family: $primary-font-family;
  font-style: $normal-style;
  font-weight: $normal-size;
  font-size: 24px;
  line-height: 32px;
  color: $description-color;
  text-transform: uppercase;
}
.subtitle {
  font-family: $secondary-font-family;
  font-style: $normal-style;
  font-weight: $normal-size;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}
footer .social_media ul {
  padding-inline-start: 0;
}
footer .social_media li:nth-of-type(1) {
  padding-inline-start: 0;
}
footer .homepage ul {
  padding: 0;
}
footer .homepage a {
  font-family: $secondary-font-family;
  font-style: $normal-style;
  font-weight: $normal-size;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}
.example {
  display: flex;
  flex-direction: column;
}
.sample {
  font-family: $secondary-font-family;
  font-style: $normal-style;
  font-weight: $normal-size;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}
.set_date {
  font-family: $secondary-font-family;
  font-style: $normal-style;
  font-weight: $bold-size;
  font-size: 12px;
  line-height: 24px;
  color: $description-color;
}
.page_info {
  font-family: $secondary-font-family;
  font-style: $normal-style;
  font-weight: $normal-size;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
.print_date {
  font-family: $secondary-font-family;
  font-style: $normal-style;
  font-weight: $normal-size;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}
.print_date {
  text-transform: uppercase;
}