@import "variables";
.location {
background: $second-bg;
}
.table_container {
  padding: $container-padding;
}
h5,
.detail {
  font-family: $secondary-font-family;
  font-style: $normal-style;
}
h5 {
  font-weight: $normal-size;
  font-size: $h5-size;
  line-height: $h5-height;
  color: $pretty-dark-color;
}
.detail {
  font-weight: $bold-size;
  font-size: $table-date-size;
  line-height: $table-date-height;
  color: $dark-color;
}
td {
  padding-right: 3rem;
}
@media(min-width: $content-width) {
  .location {
    position: absolute;
    padding-left: 6rem;
  }
}