@import "variables";

.masthead {
  background-color: $second-bg;
}
.mastheading > p {
  padding-top: 31px;
}
.masthead_container {
  padding: 1rem;
}

.home {
  font-family: $secondary-font-family;
  font-style: $normal-style;
  font-weight: $normal-size;
  font-size: $back-home-size;
  line-height: $back-home-height;
  color: $pretty-dark-color;
}
.home::before {
  content: "←";
  padding-right: 0.5rem;
}
.info {
  padding-top: 65px;
}
@media(min-width: $content-width) {
  .mastheading {
    max-width: 585px;
    max-height: 366px;
  }
  .masthead h3 {
    max-width: 457px;
    font-size: 72px;
    line-height: 80px;
  }
}