@import "variables";

.mineral_carving {
  background: rgba(67, 76, 204, 0.05);
}
.mineral_carving .article_container {
  padding: 1rem;
}
.article_heading .info {
  font-family: $secondary-font-family;
  font-style: $normal-style;
  font-weight: $normal-size;
  font-size: $description-size;
  line-height: 32px;
  color: $description-color;
}
.mineral_carving .description {
  font-family: $secondary-font-family;
  font-style: $normal-style;
  font-weight: $normal-size;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);

}
.social_media ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem;
}
.social_media li {
  padding: 0.5rem;
}
@media(min-width: 1114px) {
  .mineral_carving {
    grid-area: mineral_carving;
    padding-inline-end: 6rem;
    padding-top: 2rem;
  }
  .carving_description {
    width: 570px;
  }
}