@import "variables";

.mineral_carving {
  background: $second-bg;
}
.mineral_carving .article_container {
  padding: $container-padding;
}
.social_media ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem;
}
.social_media li {
  padding-right: 1rem;
}
@media(min-width: $content-width) {
  .mineral_carving {
    padding-left: 628px;
    padding-right: 6rem;
    padding-top: 2rem;
  }
  .carving_description {
    width: 570px;
  }
  .social_media {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}