.ham {
  z-index: 100;
  top: 1rem;
  right: 1rem;
  border: black solid 1px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.material-icons {
    font-size: 20px;
    border: none;
    background-color: transparent;
}

.xIcon {
  display: none;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: black;
  color: white;
  transform: translateY(-100%);
  transition: transform 0.2s;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

li {
  padding: 1rem 0;
  list-style: none;
}

.menuLink,.tab-menu {
  display: inline;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.menuLink:hover {
  text-decoration: underline;
}
.menu-list {
    display: none;
}
@media (min-width: 768px) {
  .ham {
    display: none;
}
  .menu-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}