.subscribe {
  background: #FFDD78;
  padding-top: 79px;
  padding-bottom: 104px;
}
.subscribe-container {
  position: relative;
}
.subscribe-header {
  display: flex;
  flex-direction: column-reverse;
  gap: 17px;
}
.subscribe-form {
  padding-top: 29px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
}
input {
  max-width: 346px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 16px;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  box-sizing: border-box;
  border-radius: 5px;
}
h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;

}
.subscribe-button-container {
  padding-top: 12px;
}
.subscribe-button {
  font-family: "DM Sans";
  background: #434CCC;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 45.5px;
  padding-right: 45.5px;
  margin-top: 12px;
  cursor: pointer;
}
label {
  font-size: 12px;
  font-weight: 700;
  line-height: 15.62px;
  text-transform: uppercase;
  color: #000000;
}
h5 {
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
}
@media (min-width: 1140px) {
  .subscribe-container {
    display: flex;
    justify-content: space-between;
  }
  .subscribe-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 54px;
  }
 h3 {
  width: 382px;
  font-size: 52px;
  line-height: 64px;
 }
 input {
   width: 346px;
 }
}