@import "variables";

.up_to_date {
  padding: 1rem;
  background: $third-bg;
}
.up_to_date .update_heading {
  display: flex;
  flex-direction: column-reverse;
}
.up_to_date .latest_version {
  font-family: $secondary-font-family;
  font-style: $normal-style;
  font-weight: $normal-size;
  font-size: $version-size;
  line-height: $version-height;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: $description-color;
  padding-top: 63px;
  padding-bottom: 19px;
}
.form_input {
  display: flex;
  flex-direction: column;
}
.address {
  display: flex;
  flex-direction: column;
}
.email {
  font-family: $secondary-font-family;
  font-style: $normal-style;
  font-weight: $bold-size;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: $dark-color;
  padding-bottom: 1rem;
}
.email_address {
  font-family: $secondary-font-family;
  font-style: $normal-style;
  font-weight: $normal-size;
  font-size: $input-size;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  background: #FFFFFF;
  border: 1px solid #DADADA;
  box-sizing: border-box;
  border-radius: 5px;
  height: 48px;
  margin-bottom: 1rem;
  padding-left: 1rem;

}
.btn_container {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 44px;
}
.subscribe {
  width: 170px;
  height: 48px;
  background: #434CCC;
  border-radius: 5px;
  border: none;
  font-family: $secondary-font-family;
  font-style: $normal-style;
  font-weight: $bold-size;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
.subscribe > a {
  color: white;
}

@media(min-width: $content-width) {
  .up_to_date {
    grid-area: up_to_date;
  }
  .up_to_date .article_container {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 104px;
    align-items: baseline;
  }
  .up_to_date h4 {
    width: 382px;
    height: 128px;
  }
  .form_group {
    padding-bottom: 44px;
  }
  .form_input {
    display: flex;
    flex-direction: row;
    }
    .address {
      padding-right: 2rem;
    }
  .email_address {
    width: 346px;
  }
  .subscribe {
    margin-top: 32px;
  }

}