$primary-color: #F4F6F9;
$bg-header-color: #434CCC;
$primary-font-family: "DM Serif Display";
$secondary-font-family: "DM Sans";
$normal-size: 400;
$bold-size: 700;
$normal-style: normal;
$font-path: "../fonts/";
$font-fallbacks: Arial, Helvetica, sans-serif;
$margin: auto;
