@charset "UTF-8";
@font-face {
  font-style: normal;
  font-family: "DM Serif Display";
  font-weight: 400;
  src: local("DM Serif Display"), local("DM Serif Display"), url("../fonts/DMSerifDisplay-Regular.woff2") format("woff2"), url("../fonts/DMSerifDisplay-Regular.woff") format("woff"); }

@font-face {
  font-style: normal;
  font-family: "DM Sans";
  font-weight: 400;
  src: local("DM Sans"), local("DM Sans"), url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff"); }

body {
  margin: 0; }

h3,
h4 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400; }

h3 {
  font-size: 52px;
  line-height: 64px;
  color: #000000; }

h4 {
  font-size: 40px;
  line-height: 48px;
  color: #000000; }

.info {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #000000; }

.description {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.5); }

ul > li {
  list-style: none; }

a {
  text-decoration: none; }

@media (min-width: 1114px) {
  .container {
    max-width: 1114px;
    margin: auto; }
  h4 {
    font-size: 52px;
    line-height: 64px;
    margin: 0; } }

body > header {
  background-color: #434CCC; }

.heading_container {
  display: flex;
  flex-direction: row;
  padding: 1rem; }

h1 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ffff;
  text-transform: uppercase; }

@media (min-width: 1114px) {
  h1 {
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase; } }

.masthead {
  background-color: #F4F6F9; }

.masthead_container {
  padding: 1rem; }

.home {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5); }

.home::before {
  content: "â†";
  padding-right: 0.5rem; }

@media (min-width: 1114px) {
  .mastheading {
    max-width: 585px;
    max-height: 366px; }
  .masthead h3 {
    max-width: 457px; } }

.article_beauty {
  background-color: #F4F6F9;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.article_beauty .article_container {
  padding: 1rem; }

.modal {
  padding-bottom: 0.5rem; }

.modal_inner button {
  position: absolute;
  height: 225px;
  background-color: transparent;
  border: none; }

.next {
  right: 16px; }

.selected_image {
  width: 100%;
  border-radius: 5px; }

.gallery {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  overflow-x: scroll; }

.gallery::-webkit-scrollbar {
  width: 0;
  background-color: transparent; }

.gallery {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; }

.gallery img {
  padding-right: 1rem;
  width: 125px;
  height: 80px;
  border-radius: 5px; }

@media (min-width: 1114px) {
  .article_beauty {
    padding: 0; }
  .select_image {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    row-gap: 1rem;
    column-gap: 1rem; }
  .selected_modal {
    grid-column: 1 / 9;
    grid-row: 1 / 9; }
  .gallery {
    overflow-x: hidden; }
  .modal_inner button {
    position: absolute;
    height: 680px;
    background-color: transparent;
    border: none; }
  .next {
    right: 120px; } }

.location {
  background: #F4F6F9; }

.table_container {
  padding: 1rem; }

h5,
.detail {
  font-family: "DM Sans";
  font-style: normal; }

h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5); }

.detail {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000; }

td {
  padding-right: 3rem; }

@media (min-width: 1114px) {
  .location {
    position: absolute;
    padding-left: 6rem; } }

.mineral_carving {
  background: #F4F6F9; }

.mineral_carving .article_container {
  padding: 1rem; }

.social_media ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem; }

.social_media li {
  padding-right: 1rem; }

@media (min-width: 1114px) {
  .mineral_carving {
    padding-left: 628px;
    padding-right: 6rem;
    padding-top: 2rem; }
  .carving_description {
    width: 570px; }
  .social_media {
    padding-top: 1rem;
    padding-bottom: 1rem; } }

.up_to_date {
  padding: 1rem;
  background: #FFDD78; }

.up_to_date .update_heading {
  display: flex;
  flex-direction: column-reverse; }

.up_to_date .latest_version {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5); }

.form_input {
  display: flex;
  flex-direction: column; }

.address {
  display: flex;
  flex-direction: column; }

.email {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 1rem; }

.email_address {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  background: #FFFFFF;
  border: 1px solid #DADADA;
  box-sizing: border-box;
  border-radius: 5px;
  height: 48px;
  margin-bottom: 1rem;
  padding-left: 1rem; }

.subscribe {
  width: 170px;
  height: 48px;
  background: #434CCC;
  border-radius: 5px;
  border: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF; }

@media (min-width: 1114px) {
  .up_to_date {
    grid-area: up_to_date; }
  .up_to_date .article_container {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 104px; }
  .up_to_date h4 {
    width: 382px;
    height: 128px; }
  .form_group {
    margin-top: 132px; }
  .form_input {
    display: flex;
    flex-direction: row; }
  .address {
    padding-right: 2rem; }
  .email_address {
    width: 346px; }
  .subscribe {
    margin-top: 32px; } }

.menu {
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  background-color: aliceblue;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 420px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: translateX(-110%);
  transition: transform 0.3s; }

body > [type="checkbox"]:checked ~ .menu {
  transform: translateX(0); }

body > [type="checkbox"]:checked ~ header label {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25); }

body > [type="checkbox"]:checked ~ main {
  z-index: 1;
  opacity: 0.5; }

.icon_menu {
  width: 1rem;
  height: 1rem;
  display: block;
  background-image: url("../images/menu-icon.png");
  background-size: 20px;
  background-repeat: no-repeat; }

.a11y,
[type="checkbox"] {
  opacity: 0; }

.menu ul {
  display: flex;
  flex-direction: column; }

.menu li a {
  text-transform: uppercase;
  color: black;
  opacity: 0.5;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  transition: opacity 0.3s;
  display: block;
  padding: 1rem 1rem 1rem 4rem; }

body > nav > ul a:hover {
  opacity: 1; }

body > [type="checkbox"],
.icon_menu {
  position: absolute;
  top: 2.5rem;
  right: 1rem; }

@media (min-width: 1114px) {
  .menu {
    padding: 0;
    background-color: transparent;
    top: 0;
    left: auto;
    right: 0;
    bottom: auto;
    width: auto;
    box-shadow: none;
    transform: none;
    transition: none; }
  /* Switch from column to row flex */
  .menu ul {
    flex-direction: row;
    margin-right: 6rem; }
  .icon_menu {
    display: none; }
  .menu li a {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: white;
    color: #ffff;
    opacity: 1; } }

.footer_container {
  padding: 1rem; }

.title {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  text-transform: uppercase; }

.subtitle {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5); }

footer .social_media ul {
  padding-left: 0; }

footer .social_media li:nth-of-type(1) {
  padding-left: 0; }

footer .homepage ul {
  padding: 0; }

footer .homepage a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5); }

.samples {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 25px;
  padding-top: 50px;
  padding-bottom: 50px; }

.sample_list {
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem; }

.sample_list img {
  padding-right: 2rem; }

.example {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 5;
  margin: 0; }

.sample,
.set_date,
.page_info,
.print_date {
  font-family: "DM Sans";
  font-style: normal; }

.sample {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5); }

.set_date {
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #000000; }

.page_info {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem; }

.homepage .active a {
  font-weight: 700;
  color: #000000; }

.homepage .active {
  padding-bottom: 2rem; }

.print_date {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5); }

.print_date {
  text-transform: uppercase; }

@media (min-width: 1114px) {
  .footer_container {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block-start: 50px;
    padding-block-end: 50px; }
  .subtitle {
    width: 270px;
    height: 79px; }
  .homepage {
    padding-block-start: 1rem; }
  .homepage_list {
    padding-block-end: 0.5rem; }
  .social_media ul {
    padding: 0; }
  .samples {
    padding-top: 2.5rem; }
  .page_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline-start: 7rem;
    padding-inline-end: 7rem;
    padding-block-end: 3rem; } }
